/tmp
/out
/modules
/lib
/test-result
/logs
/.idea
*.iml
*.ipr
*.iws
.DS_Store
/precompiled
application.log
application.log.*
.classpath
.project
.settings/
eclipse/
target/
build/

